


/* Mixins */
@mixin button-style {
	border-top: 0.3px solid #f12711;
	background: #f12711; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
   
   padding: 8px 14px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   text-decoration: none;
   vertical-align: middle;
   
   &:hover {
		border-top-color: #e02f22;
		background: #e02f22;
		color: #ccc;
   }
	
	&:active {
		border-top-color: #e02f22;
		background: #e02f22;
	}
	
}


