// variables for breakpoints
$width-small: 500px;
$width-medium: 769px;
$width-large: 1200px;


// colours 
$black: #222228;
$white: #fff;
$gray: #757070;
$lightblue: #66cccc;
$neon: #00FFF8;


// scss list for css grid layout: work page


