// variables for breakpoints
$width-small: 500px;
$width-medium: 769px;
$width-large: 1200px;


// colours 
$black: #222228;
$white: #fff;
$gray: #757070;

// Grid lines excplicitly anmed
$gridTplColsNavBar: "[first] 10px [line2] 10px [line3] auto [col4-start] 10px [end]";
$siteBrandingGridColumn: "line2";
$mainNavGridColumn: "line3 / col4-start";
