/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/* line 5, ../../sass/media/captions.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 10, ../../sass/media/captions.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 16, ../../sass/media/captions.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 20, ../../sass/media/captions.scss */
.wp-caption-text {
  text-align: center;
}
