@charset "UTF-8";
 /*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* line 4, ../../sass/navigation/menu.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 11, ../../sass/navigation/menu.scss */
.main-navigation ul {
  display: block;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 18, ../../sass/navigation/menu.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 23, ../../sass/navigation/menu.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* line 28, ../../sass/navigation/menu.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}

/* line 37, ../../sass/navigation/menu.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

/* line 42, ../../sass/navigation/menu.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 62, ../../sass/navigation/menu.scss */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

/* line 67, ../../sass/navigation/menu.scss */
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

/* Small menu. */
/* line 78, ../../sass/navigation/menu.scss */
.main-navigation.toggled ul {
  display: block;
}

/* line 81, ../../sass/navigation/menu.scss */
.menu-toggle {
  display: none;
}

@media screen and (min-width: 37.5em) {
  /* line 87, ../../sass/navigation/menu.scss */
  .main-navigation ul {
    display: block;
  }
}
/* line 92, ../../sass/navigation/menu.scss */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 99, ../../sass/navigation/menu.scss */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

/* line 106, ../../sass/navigation/menu.scss */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* line 117, ../../sass/navigation/menu.scss */
.slicknav_menu {
  display: none;
}

@media screen and (max-width: 800px) {
  /* #primary-menu is your theme’s original menu */
  /* line 123, ../../sass/navigation/menu.scss */
  #primary-menu {
    display: none;
  }

  /* line 127, ../../sass/navigation/menu.scss */
  .slicknav_menu {
    display: block;
  }
}
