//colors
$color_0: rgba(255, 255, 255, 0.75);
$color_btn: #222;
$color_text: #fff;
$color_shadow: #000;
$color_bg: #e95d2a;;
$color_hover_bg: #ccc;
$color_hover_text: #222;

.slicknav_menu {
	font-size: 16px;
	box-sizing: border-box;
	background: $color_bg;
	padding: 5px;
	* {
		box-sizing: border-box;
	}
	.slicknav_menutxt {
		color: $color_text;
		font-weight: bold;
		text-shadow: 0 1px 3px $color_shadow;
	}
	.slicknav_icon-bar {
		background-color: $color_text;
	}
}
.slicknav_btn {
	margin: 5px 5px 6px;
	text-decoration: none;
	text-shadow: 0 1px 1px $color_0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: $color_btn;
}
.slicknav_nav {
	color: $color_text;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
	list-style: none;
	overflow: hidden;
	ul {
		list-style: none;
		overflow: hidden;
		padding: 0;
		margin: 0 0 0 20px;
	}
	.slicknav_row {
		padding: 5px 10px;
		margin: 2px 5px;
		&:hover {
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			background: $color_hover_bg;
			color: $color_text;
		}
	}
	a {
		padding: 5px 10px;
		margin: 2px 5px;
		text-decoration: none;
		font-family: futura-pt-bold, sans-serif;
		font-style: normal;
		font-weight: 600;
		color: $color_text;
		&:hover {
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			background: $color_hover_bg;
			color: $color_hover_text;
		}
	}
	.slicknav_txtnode {
		margin-left: 15px;
	}
	.slicknav_item a {
		padding: 0;
		margin: 0;
	}
	.slicknav_parent-link a {
		padding: 0;
		margin: 0;
	}
	.search-mobile {
		.searchform {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			

			input[type="text"] {
				box-sizing: border-box;
				background: #E9E9E9;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin: 0;
				border: none;
				font-size: 1.1em;
				text-decoration: none;
				line-height: normal;
				width: 70%;
				height: 30px;
				border-radius: 0;
				padding: 5px;
			}

			input[type="submit"] {
				cursor: pointer;
				font-weight: bold;
				padding: 0;
				text-transform: uppercase;
				border: none;
				font-size: 16px;
				text-decoration: none;
				border: 0;
				border-radius: 0;
				position: relative;
				right: 10px;;
				font-family: futura-pt-bold, sans-serif;
				font-style: normal;
				height: 30px;
				padding: 5px;
		

				&:hover {
					background: #C17CCF;
				}

			}
		}
	}
}
.slicknav_brand {
	color: $color_text;
	font-size: 18px;
	// line-height: 30px;
	// padding: 7px 12px;
	// height: 44px;
}


