
/*--------------------------------------------------------------
## page-contact - Contact Form 7 Style
--------------------------------------------------------------*/



.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;


    .entry-title {
        text-align: center;
    }


    .wpcf7-form {
        padding: 20px;
        max-width: 600px;

        p label,
        .wpcf7 input
         {
            padding: 8px;
            font-weight: 300;
            letter-spacing: .09em;
            text-transform: uppercase;
        }
        .wpcf7-validation-errors,
        div.wpcf7-acceptance-missing {
            padding: 8px;
            font-weight: 300;
            letter-spacing: .09em;
            text-transform: uppercase;
            border: 2px solid #f00;
        }

        .wpcf7-not-valid {
            border-color: #f00
        }
        

       


        .wpcf7-form-control:not(.wpcf7-submit) {
            width: 100%;
            display: inline-block;
            padding: 8px;
            font-weight: 300;
            letter-spacing: .09em;
            text-transform: uppercase;
            color: rgb(129, 127, 127);
        }

        .wpcf7-submit {
            @include button;
            height: 48px;

        }
    }
}
