// /*--------------------------------------------------------------
// ## front-page
// --------------------------------------------------------------*/



.front-page {
	display: flex;
    min-height: 100vh;
	flex-direction: column;
	height: 100%;



	article {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 6em;

		section {
			padding: 20px;

			@media screen and (min-width: $width-medium) {
				// background: red;
				padding: 40px;
			}
		}



		@media screen and (min-width: $width-medium) {
			margin-bottom: 8em;
			padding: 20px;
		}

		&:nth-of-type(1) {
			margin-top: 1.5em;
		}

		&:nth-of-type(2) {
			@media screen and (min-width: $width-medium) {
				section:nth-of-type(2) {
					order: 2;
				}
			}
		}

		.front-page-section-image {
			padding: 5px;

			@media screen and (min-width: $width-small) and (max-width: $width-medium - 1px){
				max-width: 80%;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}

		

		// Move the featured image as second element 
		section:nth-of-type(1) {
			order: 2;
		}

		

		@media screen and (min-width: $width-medium) {
			flex-direction: row;
			align-items: center;
			

			section:nth-of-type(1) {
				flex-basis: 50%;
			}

			// This is the description 
			section:nth-of-type(2) {
				flex-basis: 50%;
			}
		}
	}

}
	






.button {
	@include button;
		
	.right_icon {
		display: inline-block;
		position: relative;
		top: 2px;
		margin-top: 4px;
		width: 1em;
		height: 1em;
	}
}





// ANIMATION


.front-page {
	


  article:nth-of-type(1) h1, article:nth-of-type(1) p {
		border-right: .15em solid orange;
		white-space: nowrap;
		overflow: hidden;
	}
	
  article:nth-of-type(1) h1 {
		width: 200px; /* manually set width */
		-webkit-animation: type 2s steps(20, end);
		animation: type 2s steps(20, end);
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
  }
  
  article:nth-of-type(1) p:nth-of-type(1) {
		width: 320px; /* manually set width */
		opacity: 0;
		-webkit-animation: type2 2s steps(20, end);
		animation: type2 2s steps(20, end);
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		font-family: futura-pt, sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 25px;
  }



  article:nth-of-type(1) p:nth-of-type(2) {
		width: 220px; /* manually set width */
		opacity: 0;
		-webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
		animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
		-webkit-animation-delay: 4s;
		animation-delay: 4s;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		font-family: futura-pt, sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 25px;
  }

  @keyframes type {
	0% {
	  width: 0;
	}
	99.9% {
	  border-right: .15em solid orange;
	}
	100% {
	  border: none;
	}
  }
  
  @-webkit-keyframes type {
	0% {
	  width: 0;
	}
	99.9% {
	  border-right: .15em solid orange;
	}
	100% {
	  border: none;
	}
  }
  
  @keyframes type2 {
	0% {
	  width: 0;
	}
	1% {
	  opacity: 1;
	}
	99.9% {
	  border-right: .15em solid orange;
	}
	100% {
	  opacity: 1;
	  border: none;
	}
  }
  
  @-webkit-keyframes type2 {
	0% {
	  width: 0;
	}
	1% {
	  opacity: 1;
	}
	99.9% {
	  border-right: .15em solid orange;
	}
	100% {
	  opacity: 1;
	  border: none;
	}
  }
  
  @keyframes type3 {
	0% {
	  width: 0;
	}
	1% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-webkit-keyframes type3 {
	0% {
	  width: 0;
	}
	1% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes blink {
	50% {
	  border-color: transparent;
	}
  }
  @-webkit-keyframes blink {
	50% {
	  border-color: tranparent;
	}
  }
}


	// web_designer 
	#post-746 .illustration {
		.cls-5{fill:#5e5855}
		.cls-6{fill:#333}
		.cls-7{fill:#ccc}
		.cls-8{fill:#906}
		.cls-10{fill:#09c}
		.cls-11{fill:#fc3}
		.cls-12{fill:#dee2de}
		.cls-20{fill:#999}
		.cls-21{fill:#39c}
		.cls-22{fill:#c00}
		.cls-23{fill:#3cf}
		.cls-24{fill:#f7a892}
		.cls-25{fill:#f2c5bb}
		.cls-26{fill:#fff}
		.cls-27{
			fill:#000;
			stroke-miterlimit:10
		}
		.cls-28{fill:#3f3}
		.cls-29{fill:#406840}
	}

	// Featured_work
	#post-748 .illustration {
		.cls-5{fill:#f15d62}
		.cls-18,.cls-7{fill:#fff}
		.cls-10,.cls-16{fill:#f1f2f2}
		.cls-13{fill:#1d82fa}
		.cls-14{fill:#469cfa}
		.cls-15{fill:#59a1fb;opacity:.7}
		.cls-16,.cls-18{opacity:.8}
		.cls-17{fill:none}
		.cls-21{fill:#e9e8e9}
		.cls-23{fill:#e6e7e8}
		.cls-24{fill:#589dbc}
		.cls-24,.cls-36,.cls-37{opacity:.2}
		.cls-25{fill:#fbfbfb}
		.cls-27{fill:#ebebec}
		.cls-29{fill:#d3d4d5}
		.cls-31{fill:#eaebec}
		.cls-32{fill:#262a33}
		.cls-36{fill:#ff876c}
		.cls-35{opacity:.3;fill:#a7a9ac}
		.cls-37{fill:#c85b55}
	}

	// What_I_do
	#post-750 .illustration {
		.cls-2{fill:#f9a880}
		.cls-4{fill:#999}
		.cls-5{fill:#fc6f29}
		.cls-9{fill:#b78c79}
		.cls-10{fill:#fff}
		.cls-11{fill:#c2c4c5}
		.cls-12{fill:#d1d3d4}
		.cls-14,.cls-17{fill:#ff876c}
		.cls-14,.cls-15{opacity:.3}
		.cls-15{fill:#a7a9ac}
		.cls-16{fill:#f1f2f2}
		.cls-17,.cls-18{opacity:.2}
		.cls-18{fill:#c85b55}
		.cls-19{fill:#262a33}
		.cls-24{fill:#39c}
	}	