// /*--------------------------------------------------------------
// ## front-page
// --------------------------------------------------------------*/


// .site-main {
	

// 	.container {
// 		max-width: 800px;
// 		margin: 0 auto;
// 		display: grid;
// 		grid-template-columns: 1fr;
// 		grid-template-rows: minmax(100px, auto);
// 		grid-row-gap: 50px;
	

// 		// Hello! I’m Vito. Front-end designer.
// 		.front-page:nth-of-type(1) {
// 			grid-row: 1;
// 		}

// 		// FEATURED WORK
// 		.front-page:nth-of-type(2){
// 			grid-row: 3;
// 		}

// 		// WHAT I DO
// 		.front-page:nth-of-type(3) {
// 			grid-row: 2;
// 		}


// 		.front-page {
// 			display: grid;
// 			grid-template-columns: 1fr;
// 			grid-auto-rows: min-content;
// 			padding: 10px;
// 			border: 10px solid $orange;
// 			border-radius: 25px;
// 			place-items: center;

// 			.thumbnail-frontpage {
// 				grid-column: 1;
// 				width: 180px;

// 			}

// 			&:not(:nth-child(1)) {

// 				.thumbnail-frontpage {
// 					align-self: center;
// 					justify-self: center;
// 					max-width: 30%;
// 				}
	
// 			}

// 			.entry-header {
// 				grid-column: 1;
// 				grid-row: 2;
// 			}

// 			.entry-content {
// 				grid-column: 1;
// 				grid-row: 3;
// 			}

		
// 			.link-to-page {
// 				grid-column: 1;
// 				grid-row: 4;
// 				align-self: center;
// 				justify-self: center;

// 				a {
// 					display: inline-block;
// 					@include button-style;
// 				}
// 			}	
// 		}

		
// 	}

	

// 	@media only screen and (min-width: $width-medium)  {
// 		grid-template-columns: 100px repeat(15, minmax(10px, 400px)) 100px;

// 		.container {

// 			.front-page {
// 				grid-column: 2 / 17;
// 				grid-template-columns: repeat(15, minmax(10px, 400px));
// 				grid-template-rows: minmax(20px, auto);
// 				place-items: start;
				


// 				&:not(:nth-child(1)) {

// 					.thumbnail-frontpage {
// 						grid-column: 1 / span 80;
// 						grid-row: 1;
// 						max-width: 10%;
// 					}
		
// 				}

				
// 				.link-to-page {
// 					grid-column: 1 / span 80;
// 					grid-row: 4;
// 				}		

// 			}

			
// 			// Hello! I’m Vito. Front-end designer.
// 			.front-page:nth-of-type(1) {


// 					.thumbnail-frontpage {
// 						grid-column: 1 / span 6;
// 						grid-row: 1
						
// 					}

// 					.entry-header {
// 						grid-column: 5 / span 16;
// 						grid-row: 1
// 					}

// 					.entry-content {
// 						grid-column: 5 / span 16;
// 						grid-row: 1;
// 						padding-top: 40px;
// 					}
// 			}
			
// 			// FEATURED WORK
// 			.front-page:nth-of-type(2) {

// 				&:not(:nth-child(1)) {

// 					.thumbnail-frontpage {
// 						grid-column: 1 / span 80;
// 						grid-row: 1;
// 						max-width: 10%;
// 					}
		
// 				}
				

// 				.entry-header {
// 					grid-column: 1 / 16;
// 					grid-row: 2;
// 					align-self: center;
// 					justify-self: center;
// 				}

				

// 				.entry-content {
// 					grid-column: 1 / 16;
// 					grid-row: 3;
// 				}
// 			}
			
// 			// WHAT I DO
// 			.front-page:nth-of-type(3) {
				

// 				.entry-header {
// 					grid-column: 1 / 16;
// 					grid-row: 2;
// 					align-self: center;
// 					justify-self: center;
// 				}

// 				.entry-content {
// 					grid-column: 1 / span 16;
// 					grid-row: 3;
// 				}
// 			}
// 		}
// 	}
// }


// // /*--------------------------------------------------------------
// // ## front-page
// // --------------------------------------------------------------*/
// #front-page {
// 	display: grid;
// 	grid-template-columns: 1fr;
// 	grid-template-rows: 400px;




	


// 	// Hello Im vito...
// 	article:nth-of-type(1) {
// 		grid-column: 1;
// 	}


// 	// image computer 1
// 	article:nth-of-type(2) {
// 		grid-column: 1;
// 		margin: 0 - 20px;
		
// 	}

// 	// Featured Work
// 	article:nth-of-type(4) {
// 		grid-column: 1;
	
// 	}

// 	// Image computer 2 
// 	article:nth-of-type(3) {
// 		grid-column: 1;
// 		grid-row: 4;
// 	}

// 	// What I do
// 	article:nth-of-type(5) {
// 		grid-column: 1;
// 		grid-row: 5;
// 	}

// 	// Image 3
// 	article:nth-of-type(6) {
// 		grid-column: 1;
// 		grid-row: 6;
// 	}
	


// 	@media only screen and (min-width: $width-medium) {
// 		margin: 0 auto;
// 		grid-template-columns: repeat(2, 1fr);
// 		margin: 0 100px;
// 		grid-row-gap: 40px;
	


// 		article:nth-of-type(2),
// 		article:nth-of-type(3),
// 		article:nth-of-type(6) {
// 			display: grid;
// 			grid-template-rows: 100px 1fr 100px;
// 			grid-template-columns: 1fr;

// 			.post-thumbnail {
// 				grid-row: 2;
// 			}


// 			img {
// 				max-width: 100%;
// 				align-self: center;
// 				justify-self: center;
// 			}
		
// 	}


		
		


// 		// image computer
// 		article:nth-of-type(2) {
// 			grid-column: 2;
// 			grid-row: 1;
// 		}

// 		// Featured Work
// 		article:nth-of-type(4) {
// 			grid-column: 2;
// 			grid-row: 2;
// 		}

// 		// Image 2 
// 		article:nth-of-type(3) {
// 			grid-column: 1;
// 			grid-row: 2;
// 		}

// 		// What I do
// 		article:nth-of-type(5) {
// 			grid-column: 1;
// 			grid-row: 3;
// 		}

// 		// Image 3
// 		article:nth-of-type(6) {
// 			grid-column: 2;
// 			grid-row: 3;
// 		}


// 	}
// }


	

// 	article,  article:nth-of-type(3){
// 		display: grid;
// 		grid-template-columns: repeat(3, 1fr);
// 		grid-auto-rows: minmax(10px, auto);
// 		grid-gap: 100px;
		


// 		.column-1 {
// 			grid-column: 1 / 3;
// 		}

// 		.column-2 {
// 			grid-column: 3;
// 		}
// 	}


// 	article:nth-of-type(2) {

// 		.column-1 {
// 			grid-column: 2 / 4;
// 		}

// 		.column-2 {
// 			grid-column: 1;
// 		}
// 	}
// }



#front-page {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 400px;

		article, .illustration {
			border: 1px solid #000;
		}

		.illustration {
			margin: 0 0 1.5em;
		}

		
}