
/*--------------------------------------------------------------
## Pages> My work and Blog 
--------------------------------------------------------------*/



/*--------------------------------------------------------------
 BLOG PAGE
--------------------------------------------------------------*/

.personal-blog,
.my-work {
	display: flex;
	flex-direction: column;
	padding: 15px;
	max-width: 1300px;
	
	
	.cards {
		display: grid;
		grid-gap: 20px;


		@media only screen and (min-width: $width-medium)  {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}

		@media only screen and (min-width: $width-large)  {
			grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		}
	}

	.card {
		display: grid;
		border-radius: 8px;
		background: $white;
		cursor:pointer;

		&:hover {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.42);
		}
		

		@media only screen and (min-width: $width-medium)  {
			grid-template-rows: 100px 200px 1fr;
		}

		.entry-header {
			padding: 5px;
		}

		

			img {
				max-width: 250px;
				height: 250px;
				margin: 0 auto;
				padding: 10px;
				
			}
	

		.card-content {
			padding: 20px 5px;

		}

		.entry-footer {
			justify-self: end;
			
			.button {
				position: relative;
				right: 20px;
				bottom: 10px;
			}
		}

		
	}
}
		
		



		



	

	


