
/*--------------------------------------------------------------
## page-resume 
--------------------------------------------------------------*/


.resume {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    

    .resume-container {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .column-1 {
            background: $white;
            box-shadow: 14px 12px 0px -8px $lightblue;;
            -webkit-box-shadow: 14px 12px 0px -8px $lightblue;;
            -moz-box-shadow: 14px 12px 0px -8px $lightblue;;
            padding: 10px;
        }

        .column-2 {
            margin-top: 20px;

            #secondary-sidebar {
                background: $white;
                box-shadow: 14px 12px 0px -8px $lightblue;
                -webkit-box-shadow: 14px 12px 0px -8px $lightblue;;
                -moz-box-shadow: 14px 12px 0px -8px $lightblue;;
                padding: 10px;
            }
        }

       



        @media only screen and (min-width: $width-medium) {
            flex-direction: row;

            .column-1 {
                /* This will be twice as */
                /* big as the small item. */
                flex: 2 0 0;
                padding: 20px;
                margin: 0 20px;
             }
             .column-2 {
                flex: 1 0 0;
                margin-top: 0;
                

                #secondary-sidebar {
                    padding: 20px;
                }
             }

        }
        

    //     .column-1,
    //     .column-2 {
    //             z-index: 1;
    //             background: $lightblue;
    //             position: relative;
    //             z-index: 1;
    //             padding: 20px;
    //             margin: 20px 0;
            

    //         &::after {
    //             content: '';
    //             background: $white;
    //             position: absolute;
    //             width: 100%;
    //             height: 100%;
    //             bottom: 10px;
    //             right: 4px;
    //             z-index: -1;
    //         }   
    // }


        p {font-size: 12px;}

        h3 {
            font-size: 14px;
        }

        h2{
            font-size: 16px;
            text-align: center;
        }

        .title {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }

    
        

        #courses,
        #jobs,
        #interests {
        

            section {
                background: rgba(238, 119, 75, 0.256);
                padding: 3px;
            }

            section .resume-content{
            
                ul:nth-of-type(1) li {
                    list-style-type: disc;
                    margin-left: 30px;
                    margin-top: 12px;
                    margin-bottom: 12px;
                    line-height: 1.1;
                }
                
            }
        }


        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
        }
    
       
        


            // .page-container {
    
            //     .column-1,
            //     .column-2 {
                        
            //         &::after {
            //             content: '';
            //             right: 10px;
            //         }
            //     }

            // }
        
    }

    

    // footer

    #menu-social-bar {
        max-width: 230px;

        .social-button {

            &::before {
                margin-left: 8px;
                margin-top: -1.3px;
            }
        
        
            a {
                border: 2px solid #000;
                height: 44px;
                width: 44px;
            }
        }
    }
// Now layout for medium size 
}
