
/*--------------------------------------------------------------
## page-resume 
--------------------------------------------------------------*/

#post-112 {

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
    }
    #social-nav-resume {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}


