
/*--------------------------------------------------------------
## page-resume 
--------------------------------------------------------------*/

.resume {
    display: grid;
	grid-template-columns: 1fr ;
    grid-auto-rows: min-content;
    grid-column-gap: 20px;

    p {font-size: 12px;}

    h3 {
        font-size: 14px;
    }

    h2{
        font-size: 16px;
        text-align: center;
    }

    .title {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
   


    #courses,
    #jobs,
    #interests {
       

        section {
            background: rgba(238, 119, 75, 0.256);
            padding: 3px;
        }

        section .resume-content{
        
            ul:nth-of-type(1) li {
                list-style-type: disc;
                margin-left: 30px;
                margin-top: 12px;
                margin-bottom: 12px;
                line-height: 1.1;
            }
            
        }
    }


    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }

    .category-header {
        grid-column: 1;
        grid-row: 1;
    }

    .personal-statement {
        h2 {

        }
    }

     // social navigation 
     #social-nav-resume {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;

        .social-button a, .menu-item-description {
            font-size: 6px;
        }

        @media only screen and (min-width: $width-medium - 100px) {
            grid-template-columns: repeat(3, 1fr);

            .social-button a, .menu-item-description {
                font-size: 10px;
            }
        }

        @media only screen and (min-width: $width-large) {
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 20px;

            .social-button a, .menu-item-description {
                font-size: 12px;
            }
        }

        
    }

    // Now layout for medium size 

    @media only screen and (min-width: $width-medium) {
        grid-template-columns: 2fr 1fr;


        .category-header {
            grid-column: 1 / span 3;
            grid-row: 1;
        }


        .column-1,
        .column-2 {
            z-index: 1;
            background: $lightblue;
            position: relative;
            z-index: 1;
            padding: 20px;
        

        &::after {
			content: '';
            background: $white;
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 10px;
			right: 10px;
			z-index: -1;
		}
    }




        .column-1 {
            grid-column: 1;
            grid-row: 2;
        }

        .column-2 {
            grid-column: 2;
            grid-row: 2;
        }
    }
        

}