/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.widget-area {
	border: 2px solid #000;
}



/*--------------------------------------------------------------
## front-page
--------------------------------------------------------------*/


.site-main {
	max-width: 1200px;
	margin: 0 auto;

	.container {
		max-width: 800px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(100px, auto);
		grid-row-gap: 50px;
	

		// Hello! I’m Vito. Front-end designer.
		.front-page:nth-of-type(1) {
			grid-row: 1;
		}

		// FEATURED WORK
		.front-page:nth-of-type(2){
			grid-row: 3;
		}

		// WHAT I DO
		.front-page:nth-of-type(3) {
			grid-row: 2;
		}


		.front-page {
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: min-content;
			background: #405959;
			padding: 10px;

			.alignleft {
				grid-column: 1;
				grid-row: 1;
			}

			.entry-header {
				grid-column: 1;
				grid-row: 2;
			}

			.entry-content {
				grid-column: 1;
				grid-row: 3;
			}

		
			.link-to-page {
				grid-column: 1;
				grid-row: 4;
				align-self: center;
				justify-self: center;

				a {
					display: inline-block;
					@include button-style;
				}
			}	
		}
	}

	

	@media only screen and (min-width: $width-medium)  {
		grid-template-columns: 100px repeat(15, minmax(10px, 400px)) 100px;

		.container {

			.front-page {
				grid-column: 2 / 17;
				grid-template-columns: repeat(15, minmax(10px, 400px));
				
				.link-to-page {
					grid-column: 1 / span 16;
					grid-row: 4;
				}		

			}

			
			// Hello! I’m Vito. Front-end designer.
			.front-page:nth-of-type(1) {

					.alignleft {
						grid-column: 1 / span 4;
						grid-row: 1
					}

					.entry-header {
						grid-column: 6 / span 16;
						grid-row: 1
					}

					.entry-content {
						grid-column: 1 / span 16;
						grid-row: 2;
					}
			}
			
			// FEATURED WORK
			.front-page:nth-of-type(2) {
				

				.entry-header {
					grid-column: 1 / 16;
					grid-row: 1;
					align-self: center;
					justify-self: center;
				}

				.entry-content {
					grid-column: 1 / 16;
					grid-row: 2;
				}
			}
			
			// WHAT I DO
			.front-page:nth-of-type(3) {
				

				.entry-header {
					grid-column: 1 / 16;
					grid-row: 1;
					align-self: center;
					justify-self: center;
				}

				.entry-content {
					grid-column: 1 / span 16;
					grid-row: 2;
				}
			}
		}
	}
}




/*--------------------------------------------------------------
## Work-post Category
--------------------------------------------------------------*/


.work-posts {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	margin: 0 auto;
	

	@media only screen and (min-width: $width-small)  {
		grid-column: 1 / 18;
		grid-template-columns: repeat(2, 1fr);
	}
	
	@media only screen and (min-width: $width-medium)  {
		grid-template-columns: repeat(3, 1fr);
	}
}
	

	.card {
		display: flex;
		flex-direction: column;

		.inner {
			flex: 1 1 auto;
		}
	}

	.card:nth-child(1),
	.card:nth-child(2),
	.card:nth-child(3) {
		
		.entry-title,
		.inner,
		.entry-footer {
			padding: 5px;
		  }
	}


	.card:nth-child(1) {
		background: $white;

		.entry-title a, .inner {
			color: $black;
		}
	}

	  .card:nth-child(2) {
		background: $black;
	  }

	  .card:nth-child(3) {
		background: $black;
	  }


