/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.widget-area {
	border: 2px solid #000;
}



/*--------------------------------------------------------------
## front-page
--------------------------------------------------------------*/

// .front-page {
// 	display: grid;
//     grid-gap: 10px;
// 	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
// 	grid-auto-rows: minmax(100px, auto);
// 	align-items: center;

// 	.alignleft {
// 		grid-column: 1;
// 		grid-row: 1;
// 		border: 3.5px solid #100;
// 		border-radius: 50%;
// 		overflow: hidden;
// 		justify-self: center;
// 	}

// 	.entry-header {
// 		grid-column: 2 / 4;
// 		grid-row: 1;
// 	}

// 	.entry-content {
// 		grid-column: 1/ 4;
// 		grid-row: 2 / 3;
// 	}

// 	.site-footer {
// 		grid-row: 3;
// 	}
// }




.site-main {
	display: grid;
	grid-gap: 20px;
	max-width: 960px;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(100px, auto);
	grid-row-gap: 50px;

	// Hello! I’m Vito. Front-end designer.
	.front-page:nth-of-type(1) {
		grid-row: 1;
	}

	// FEATURED WORK
	.front-page:nth-of-type(2) {
		grid-row: 3;
	}

	// WHAT I DO
	.front-page:nth-of-type(3) {
		grid-row: 2;
	}



	@media only screen and (min-width: $width-medium)  {

		grid-template-columns: 100px repeat(15, minmax(10px, 400px)) 100px;

		.front-page {
			grid-column: 2 / 17;
			display: grid;
			grid-template-columns: repeat(15, minmax(10px, 400px));
			// grid-auto-rows: min-content;
			grid-auto-rows: minmax(150px, auto);
		}

		
		// Hello! I’m Vito. Front-end designer.
		.front-page:nth-of-type(1) {

				.alignleft {
					grid-column: 1 / span 4;
					grid-row: 1
				}

				.entry-header {
					grid-column: 6 / span 16;
					grid-row: 1
				}

				.entry-content {
					grid-column: 1 / span 16;
					grid-row: 2;
				}

				.link-to-page {
					grid-column: 1 / span 16;
					grid-row: 3;
					align-self: center;
					justify-self: center;		
				}

				


		}
		
		// FEATURED WORK
		.front-page:nth-of-type(2) {
			background: black;

			.entry-header {
				grid-column: 1 / 16;
				grid-row: 1;
				align-self: center;
				justify-self: center;
			}

			.entry-content {
				grid-column: 1 / 16;
				grid-row: 2;
			}

			.link-to-page {
				grid-column: 1 / span 16;
				grid-row: 3;
				align-self: center;
				justify-self: center;
			}

		}
		
		// WHAT I DO
		.front-page:nth-of-type(3) {
			background: black;

			.entry-header {
				grid-column: 1 / 16;
				grid-row: 1;
				align-self: center;
				justify-self: center;
			}

			.entry-content {
				grid-column: 1 / span 16;
				grid-row: 2;
			}

			.link-to-page {
				grid-column: 1 / span 16;
				grid-row: 3;
				align-self: center;
				justify-self: center;
			}
		}
	}
}


.front-page {
	// position: relative;
	background-image: linear-gradient(#ff9d2f, #ff6126);
	padding: 10px;
}

// svg {
// 	position: absolute;
// 	bottom: -1px;
// 	width: 100%;
// 	height: 10vw;
// 	min-height: 10px;
// 	/* set height to pixels if you want angle to change with screen width */
//   }

/*--------------------------------------------------------------
## Work-post Category
--------------------------------------------------------------*/



.work-posts {
	grid-row: 2;
	display: grid;
	grid-gap: 20px;
	max-width: 960px;
	margin: 0 auto;
}
	
.work-posts {
	@media only screen and (min-width: $width-small)  {
		grid-template-columns: repeat(2, 1fr);
	}
}
	

.work-posts {
	@media only screen and (min-width: $width-medium)  {
		grid-template-columns: repeat(3, 1fr);
	}
}
	

	.card {
		display: flex;
		flex-direction: column;

		.inner {
			flex: 1 1 auto;
		}
	}

	.card:nth-child(1),
	.card:nth-child(2),
	.card:nth-child(3) {
		
		.entry-title,
		.inner,
		.entry-footer {
			padding: 5px;
		  }
	}

	.card:nth-child(1),
	.card:nth-child(2),
	.card:nth-child(3) {
		
		// .entry-footer {
		// 	background: #FFCCCC;
		// 	display: block;
		// 	text-align: center;
		// 	vertical-align: middle;

		// 		.btn {
		// 			display: inline-block;
		// 			min-width: 100%;
		// 			height: 100%;
		// 			padding: 5px 5px;
		// 		}
		// }


		// .entry-footer a {
		// 	text-decoration: none;
  
		// 	&:hover,
		// 	&:focus,
		// 	&:active {
		// 		text-decoration: none;
		// 	}
		// }



		.entry-footer {
			display: block;
			text-align: center;
			vertical-align: middle;
			

			a {
				text-decoration: none;
				text-transform: uppercase;
				
				
			  
				&:hover,
				&:focus,
				&:active {
				  text-decoration: none;
			  }
			}
			
			/* fancy Button */
			.fancy-button {
				display: inline-block;
				font-size: 16px;
				letter-spacing: 0.07em;
				line-height: 24px;
				color: #ffffff;
				position: relative;
				
				&.bg-gradient1 {
					text-shadow: 0px 0px 1px #BF4C28;
				}
				
				&.bg-gradient2 {
					text-shadow: 0px 0px 1px #227270;
				}
				
				&.bg-gradient3 {
					text-shadow: 0 0 1px #546082;
				}
				
				&:before {
					content: '';
					display: inline-block;
					height: 40px;
					position: absolute;
					bottom: -1px;
					left: 10px;
					right: 10px;
					z-index: -1;
					border-radius: 2em;
					filter: blur(14px) brightness(0.9);
					transform-style: preserve-3d;
					transition: all 0.3s ease-out;
				}
		
				span {
					display: inline-block;
					padding: 16px 20px;
					padding: 8px 10px;
					border-radius: 50em;
					position: relative;
					z-index: 2;
					will-change: transform, filter;
					transform-style: preserve-3d;
					transition: all 0.3s ease-out;
					text-transform: uppercase;

				}
			
				&:active span {
						filter: brightness(.75) contrast(1.7);
					}
				&.pop-onhover {
					span {
						border-radius: 4px;
					}
					&:before {
						opacity: 0;
						bottom: 10px;
					}
					&:hover {
						&:before {
							bottom: -7px;
							opacity: 1;
							filter: blur(16px);
						}
						span {
							// transform: scale(1.03);
							transform: scale(1);
						}
						&:active {
							span {
								filter: brightness(1) contrast(1);
								transform: scale(1);
								transition: all 0.2s ease-out;
							}
							&:before {
								bottom: 0;
								filter: blur(5px) brightness(0.85);
								transition: all 0.2s ease-out;
							}
						}
					}
				}
			}
			
			

			

			.bg-gradient4:before {
				bottom: 2px;
				opacity: 0.6;
				transition: all 0.3s ease-out;
			}
			
			.bg-gradient4 {
				transition: all 1s ease;
				span {
					outline: 0px solid transparent;
				}
				&:hover span {
					@include gradientBg(-25deg, #FC3D7C, #F76A34);
				}
				&:focus span, &:active span{
					@include gradientBg(25deg, #FC3D7C, rgba(247, 107, 52, 0.781));
				}
				&:focus span {
					// outline: 2px solid $neon;
					box-shadow: 0 0 9px $neon;
				}
				&:active span {
					filter: brightness(.85) contrast(1.3);
				}
			}
			

			.bg-gradient4 span {
				@include gradientBg(180deg, #F6682F, #F6682F);
			}
		}
	}

	.card:nth-child(1) {
		background: $white;

		.entry-title a, .inner {
			color: $black;
		}
	}

	  .card:nth-child(2) {
		background: #000;
	  }

	  .card:nth-child(3) {
		background: #000;
	  }


