
/*--------------------------------------------------------------
## Pages> search
--------------------------------------------------------------*/


.search-page {

   
    .search-card {
        margin: 20px 15px;
        border-radius: 8px;
		background: $white;
        cursor:pointer;
        padding: 5px;

        .entry-footer {
            float: right;
            padding: 5px;
        }

     

        

		&:hover {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.42);
        }

        .search-content {
            

            @media only screen and (max-width: $width-small)  {

                h2 {
                    font-size: 14px;
                }
    
                p {
                    font-size: 12px;
                }
    
                .entry-meta {
                    font-size: 12px;
                }
    
                .entry-summary {
                    margin: 0;
                }
            }

            .featured-image {
                max-width: 400px;
                margin:0 auto;
            }
        
            @media only screen and (min-width: $width-small) {
                display: flex;
                flex-direction: row;
            }

        }
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
    
}
 

      