.single {

    article {
        
        margin: 0 auto;

        .entry-header {

            h1, p {
                text-align: center;
            }
            
            
           
            .featured-image {      
                max-width: 80%;
                margin: 0 auto;
                display: block;
            }
           
        }

        .link-to-page {
           text-align: center;
           padding: 20px;
        }

        .entry-content {
            margin: 0 auto;
        }



       
    }
    
   

    .entry-footer {
        display: flex;
        flex-direction: column;
    }
}
