.single {

    article {

        .entry-content {
            max-width: 900px;
            margin: 0 auto;
        }
    }
    
   

    .entry-footer {
        display: flex;
        flex-direction: column;
    }
}
