.single {

    article {
        max-width: 800px;
        margin: 0 auto;

        .entry-header {

            h1, p {
                text-align: center;
            }
            
            
           
            .featured-image {      
                // border-radius: 8px;
                max-width: 80%;
                // box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
                margin: 0 auto;
                display: block;
            }
           
        }

        .entry-content {
            margin: 0 auto;
        }

       
    }
    
   

    .entry-footer {
        display: flex;
        flex-direction: column;
    }
}
