
/*--------------------------------------------------------------
## Work-post-Category
--------------------------------------------------------------*/

.works {
	margin: 20px;
}

.work-posts {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	margin: 0 auto;
	max-width: 400px;
	

	@media only screen and (min-width: $width-medium)  {
		grid-template-columns: repeat(2, 1fr);
		max-width: 900px;
	}
	
	@media only screen and (min-width: $width-large)  {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
		max-width: 95%;
	}
}
	

	.card {
		position: relative;
		z-index: 1;
		display: flex;

		&::after {
			content: '';
			background: $lightblue;
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -10px;
			right: -10px;
			z-index: -1;
		}

		.card-container {
			display: flex;
			flex-direction: column;
			background: #fff;
			color: $black;
			

		
			
			
			.description-work {
				flex: 1 1 auto;
				line-height: 1.2;
				font-size: 12px;
				color: $gray;
			}

			.entry-title,
			.description-work,
			.entry-footer {
				padding: 0px 2px 2px 5px;
				align-self: flex-end;

				.button {
					@include button;
					position: relative;
					right: 15px;
					bottom: 4px;
				

					.icon-arrow-right {
						display: inline-block;
						position: relative;
						top: 2px;
						margin-top: 4px;
						width: 1em;
						height: 1em;
					}
				}
			}
		}
	}
		
		



		



	

	


