
/*--------------------------------------------------------------
## Work-post-Category
--------------------------------------------------------------*/


.work-posts {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	margin: 0 auto;
	

	@media only screen and (min-width: $width-small)  {
		grid-column: 1 / 18;
		grid-template-columns: repeat(2, 1fr);
	}
	
	@media only screen and (min-width: $width-medium)  {
		grid-template-columns: repeat(3, 1fr);
	}
}
	

	.card {
		color: $white;
		position: relative;
		z-index: 1;
		display: flex;

		&::after {
			content: '';
			background: $lightblue;
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -10px;
			right: -10px;
			z-index: -1;
		}

		.card-container {
			display: flex;
			flex-direction: column;
			background: #fff;
			color: $black;
			font-family: $archivio;
			
			.description-work {
				flex: 1 1 auto;
				line-height: 1.2;
				font-size: 12px;
				color: $gray;
			}

			.entry-title,
			.description-work,
			.entry-footer {
				padding: 0px 2px 2px 5px;

				a {

					.icon-arrow-right {
						display: inline-block;
						position: relative;
						top: 2px;
						margin-top: 4px;
						width: 1em;
						height: 1em;
					}

					.underline {
						border-bottom: 2px solid $black;
						
						&:hover {
							border-bottom: 2px solid $gray;
						}
					}



					&:hover {
						color: $gray;
	
						.icon-arrow-right {
							fill: $gray;
						}
					}
				}
			}
		}
	}
		
		



		



	

	


