/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.widget-area {
	border: 2px solid #000;
}



/*--------------------------------------------------------------
## front-page
--------------------------------------------------------------*/

.front-page {
	display: grid;
    grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	align-items: center;

	.alignleft {
		grid-column: 1;
		grid-row: 1;
		border: 3.5px solid #100;
		border-radius: 50%;
		overflow: hidden;
		justify-self: center;
	}

	.entry-header {
		grid-column: 2 / 4;
		grid-row: 1;
	}

	.entry-content {
		grid-column: 1/ 4;
		grid-row: 2 / 3;
	}
}


/*--------------------------------------------------------------
## Work-post Category
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Work-post Category
--------------------------------------------------------------*/


.work-posts {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	

	@media screen and (min-width: $width-medium - 100) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
		grid-gap: 20px;
	}

	.card {
		display: grid;
		border: 4px solid $white;
		box-shadow: 0 0 3px 3px rgba(0,0,0,.15);

		.entry-header {
			place-self: center;
		}

		p {
			font-family: $ropa-sans;
			color: $black;
			font-size: 22px;
		}



		.entry-header {
			grid-row: 2;

			.entry-title {
				font-family: $archivio;		
			}
		}

		.entry-footer {
			align-self: end;
			background: #FFCCCC;
			display: block;
			text-align: center;
			vertical-align: middle;

			.btn {
				display: inline-block;
				min-width: 100%;
				height: 100%;
				padding: 10px 20px;
			}
		}
	} 
}
