/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $white;
}

a:visited {
	color: $white;
}

a:hover, a:focus, a:active {
	color: $gray;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Cards Links
--------------------------------------------------------------*/

.entry-title {
	a {
		text-decoration: none;
	}
}

.entry-footer {
	a {
		font-weight: 530;
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
	}
}

/*--------------------------------------------------------------
## Footer Links
--------------------------------------------------------------*/

.site-footer {
	a {
		color: $white;
	}
}