/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $black;
}

a:visited {
	color: $black;
}

a:hover, a:focus, a:active {
	color: $black;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Cards Links
--------------------------------------------------------------*/

.entry-title {
	a {
		text-decoration: none;
		color: $black;
	}
}

.entry-footer {
	a {
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
	}
}

/*--------------------------------------------------------------
## Footer Links
--------------------------------------------------------------*/

.site-footer {
	a {
		color: $white;
	}
}


/*--------------------------------------------------------------
## Social Buttons
--------------------------------------------------------------*/

.social-button ::before {
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.social-button {
	display: flex;
	flex-direction: row;

	a {
		font-size: 10px;
	}

}

.linkedIn-icon::before {
	content: "\f0e1";
	@include font-awesome;
}

.twitter-icon::before {
	content: "\f099";
	@include font-awesome;
}

.github-icon::before {
	content: "\f09b";
	@include font-awesome;
}

.myportfolio-icon::before {
	content: "\f19d";
	@include font-awesome;
}

.menu-item-description {
	font-size: 8px;
}
	