/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $black;
}

a:visited {
	color: $black;
}

a:hover, a:focus, a:active {
	color: $black;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## button
--------------------------------------------------------------*/

.link-to-page {
	a {
		color: $white;

		&:visited {
			color: $white;
		}
	}
}


/*--------------------------------------------------------------
## Cards Links
--------------------------------------------------------------*/

.entry-title {
	a {
		text-decoration: none;
		color: $black;
	}
}

.entry-footer {
	a {
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
	}
}

/*--------------------------------------------------------------
## Footer Links
--------------------------------------------------------------*/

.site-footer {
	a {
		color: $white;
	}
}


/*--------------------------------------------------------------
## Social Buttons
--------------------------------------------------------------*/


.menu-social-bar-container {
	display: flex;
	justify-content: center;

	// container social nav for both resume and footer
	#menu-social-bar,
	#menu-social-bar-1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		width: 280px;
		

		.social-button {
			display: inline-block;


		
		
			a {
				position: relative;
				display: block;
				height: 60px;
				width: 60px;
				overflow: hidden;
				line-height: 200px;
				border-radius: 100%;
				border: 3px solid #fff;
				
			}
		}
	}
}


.linkedIn-icon::before {
	content: "\f0e1";
	@include font-awesome;
	
}

.twitter-icon::before {
	content: "\f099";
	@include font-awesome;
	
}

.github-icon::before {
	content: "\f09b";
	@include font-awesome;
	
}

.instagram-icon::before {
	content: "\f16d";
	@include font-awesome;

}

.menu-item-description {
	font-size: 12px;
}
	